.header__span {
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  text-transform: uppercase;
  color: #ffffff;
  position: absolute;
  left: 40px;
  bottom: 33px;
}

@media all and (max-width: 662px) {
  .header__span  {
    left: unset;
    bottom: unset;
    top: 40px;
    right: 20px;
    font-size: 18px;
    color: #212121;
  }
}