.header__form-title {
  font-weight: 800;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #212121;
  margin: 0 0 10px 0;
}
@media all and (max-width: 920px) {
  .header__form-title  {
    font-size: 10px;
    line-height: 1;
  }
}
@media all and (max-width: 662px) {
  .header__form-title {
    font-size: 12px;
  }
}