.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
@media all and (max-width: 1060px) {
  .header {
    margin: 60px auto;
  }
}
@media all and (max-width: 662px) {
  .header {
    flex-direction: column;
    margin: 0 auto ;
  }
}
