.header__left-container {
  width: 560px;
  height: 500px;
  background-color: #35734f;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.header__left-container::before {
  content: "";
  width: 398px;
  height: 398px;
  border-radius: 50%;
  background-color: #428a60;
  z-index: -1;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  left: 20px;
  bottom: 33px;
}
.header__left-container::after {
  content: "";
  width: 688px;
  height: 688px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  left: 235px;
  bottom: -50%;
  top: -25%;
  border: #428a60 20px solid;
  z-index: -1;
}

@media all and (max-width: 1060px) {
  .header__left-container {
    max-width: 460px;
    max-height: 400px;
  }
  .header__left-container::before {
    content: "";
    max-width: 298px;
    max-height: 298px;
  }
  .header__left-container::after {
    content: "";
    max-width: 588px;
    max-height: 588px;
  }
}
@media all and (max-width: 920px) {
  .header__left-container {
    max-width: 340px;
    max-height: 280px;
  }
  .header__left-container::before {
    content: "";
    max-width: 198px;
    max-height: 198px;
  }
  .header__left-container::after {
    content: "";
    max-width: 488px;
    max-height: 488px;
    left: 135px;
    border: #428a60 10px solid;
  }
}
@media all and (max-width: 662px) {
  .header__left-container {
    background-color: #ffffff;
  }
  .header__left-container::before {
    width: 202px;
    height: 202px;
    left: 50%;
    margin-left: -101px;
    top: 50%;
    margin-top: -101px;
  }
  .header__left-container::after {
    display: none;
  }
}
