.footer {
  margin: 0 auto;
  width: 320px;
  height: 40px;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
}
@media all and (max-width: 662px) {
    .footer {
        display: flex;
    }
}