.header__title {
  font-size: 18px;
  line-height: 1.3;
  color: #ffffff;
  font-weight: 700;
  margin: 40px 0 0 40px;
}
@media all and (max-width: 662px) {
  .header__title {
    margin: 40px 0 0 20px;
    color: #212121;
  }
}
